.table-cell-internal-button {
  user-select: none;
  transition: opacity 150ms 50ms;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  border-radius: 4px;
  background: white;
  box-shadow:
    rgba(0, 0, 0, 0.08) 0px 4px 12px -2px,
    rgba(84, 72, 49, 0.08) 0px 0px 0px 1px;
  z-index: 4;
  text-align: center;
  box-sizing: border-box;
  color: #37352f59;
}

.table-cell-internal-button:hover {
  background: #f1f1f1;
}

.table-cell-internal-button.focus {
  background: #3e9dfe;
  color: #ffffff;
}

.table-cell-internal-button.active {
  opacity: 1;
}

.table-cell-button-first-row {
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  width: 16px;
  height: 26px;
  line-height: 26px;
  writing-mode: vertical-lr;
}

.table-cell-button-first-column {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 16px;
  line-height: 10px;
  width: 26px;
}

/* 菜单容器样式 */
.table-cell-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
  pointer-events: none;
}

/* 菜单透明层 */
.table-cell-menu-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  pointer-events: auto;
}

/* 菜单样式 */
.table-cell-menu {
  position: absolute;
  padding: 5px;
  pointer-events: auto;
  width: 220px;
  height: 150px;
  background: #fcfcfc;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 1px solid #c6c6c6;
}

/* 菜单项样式 */
.table-cell-menu-item {
  padding: 4px 8px;
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-cell-menu-item:hover {
  background: #ededed;
  border-radius: 5px 5px 5px 5px;
}

.menu-item-text {
  padding-left: 9px;
  font-size: 13px;
}

.menu-item-shortcut {
  font-size: 11px;
  float: right;
  color: #bfc3cb;
}
