.table-cell-internal-button {
  user-select: none;
  transition: opacity 150ms 50ms;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  border-radius: 4px;
  background: white;
  box-shadow:
    rgba(0, 0, 0, 0.08) 0px 4px 12px -2px,
    rgba(84, 72, 49, 0.08) 0px 0px 0px 1px;
  z-index: 4;
  text-align: center;
  box-sizing: border-box;
  color: #37352f59;
}

.table-cell-internal-button:hover {
  background: #f1f1f1;
}

.table-cell-internal-button.focus {
  background: #3e9dfe;
  color: #ffffff;
}

.table-cell-internal-button.active {
  opacity: 1;
}

.table-cell-button-first-row {
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  width: 16px;
  height: 26px;
  line-height: 26px;
  writing-mode: vertical-lr;
}

.table-cell-button-first-column {
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 16px;
  line-height: 10px;
  width: 26px;
}
